In [ ]:
x=5
print('Value of x before is',x)
x=8
print('Value of x after is',x)

tuple1=(1,2,3,4,5)
tuple2=(2,4,5,6,7)
tuple3=tuple1+tuple2
print(tuple3)

tuple4=tuple3*4

In [ ]:
#Python is dynamically typed,Python is general purpose , high level and object oriented,OPEN SOURCE AND PLATFORM INDEPENDENT,
#Portable(Mac Os ==>  Windows / vice versa )
#interpreted (it runs the code line by line)
#compiler( it runs the code once and then display the output)

#HTML--> web development
#R --> statistical programming (data analysis)

#Python --> pygame --> game development
#tkinter--> gui
#pandas,numpy--> data analysis
#django ,flask --> web development 

#3 types
#low level-->basic,pascal
#medium level--> c,c++
#high level--> python,java,go

#syntax is very complex plus time execution is lowest (low level language)
#syntax is less complex but time execution increase (medium level language)
#syntax is easier but time execution is highest (high level language)

#it requires more time to execute

#c,c++ --> 
#python---> libraries is the file containing the functions written in c,c++ language numpy,pandas,re,django,flask,matplotlib
#the reason behind it is--> to compensate with the time complexity (lower the time complexity)

#time taken to execute a program is time complexity 
#Big O notation-- log(n)

#object oriented -->everything is considered as an object in python

#code 10 lines--> broken down into simpler code --> it will be stored as an object
def x():
    print('Hello world')
    

#procedural oriented ==>

In [ ]:
x()

In [ ]:
#identifiers
#the name given to an entity that differentiates one entity from other 
#keywords
#variables
#objects
#classes
#functions 

#storage space /storage pattern 
#objects--> instance of a class

# WE ARE ON BREAK WILL CONNECT AT 10:45
# ALL ARE BACK??

In [ ]:
keyword--> if
variable--> x

hindi,marathi,english 
#variable --> something that can change 

#variable is a temporary storage space
#5 things --> market 
1. go once and then purchase all 5 elements 
2. go to market and first purchase element 1 and come to me and give element 1 (1 item at a time)

In [ ]:
x=1
print(x)
x=2
print(x)
x=3
print(x)
x=4
print(x)

In [ ]:
name='Sunny'
print('The name of student is',name)
name='Sunny Gaikwad'
print('The name of student after changing is',name)

#there are certain color codes given to each set of entity 
True=6

In [ ]:
def x():
    print('Hello')
    
x()

In [ ]:
?x=56

In [ ]:
#keywords--> teacher (A person who teaches something)
#it is a special word that has reserved meaning 
if else True False

#rules of an identifiers/name of an entity (user defined name)
1.Keywords cant be used as an identifier 
2.Identifier will always start with alphabets
3.no special character except for _ can be used in identifier #_ is only special character that is not used as an operator
4.Identifer can be alphanumeric

In [ ]:
name!="Devang"

In [ ]:
!name="Devang"

In [ ]:
!name

In [ ]:
name_1='Devang'
name_1

In [ ]:
n1_ame="Devang"
n1_ame

In [ ]:
1_name="Devang"

In [ ]:
print('Hello World')
print(5)
 #print whatever has passed within the bracket

In [ ]:
input #it will take an input from the user
x=input('Enter your name')
x

In [ ]:
#1 
name=#user defined
print hello #user defined name #welcome to the course

In [ ]:
name=input('Enter your name:')
print("Hello",name,"Welcome to the course!")

In [ ]:
#numerical data--> int, float,complex
#boolean
#string

In [ ]:
#type #function--> helps us to know the type of data for identifier/variable
x=5
y=6.4
z=5+4j #we define the imaginary part as j in python 
a=True
b=False
c="print"

print(type(x))
print(type(y))
print(type(z))
print(type(a))
print(type(b))
print(type(c))

d=input('Enter the number') #input will have default data type as str
print('The initial data type is',type(d))
d=int(d)
print("The data type after conversion is",type(d))

#type casting--> the process of converting one data type into another

In [ ]:
#syntax--> the way a language is written 

#Syntax
#Data types
#Conditional Statements
#Looping Statements
#Data Structures
#Functions
#File handling
#OOPS


#Take an int as an input from the user and convert it into float
num=int(input('Enter a number'))
print('The original value is',num)
num=float(num)
print('The converted value is',num)

In [ ]:
num=float(input("Enter the num:"))
print(num)

In [ ]:
#Operator --> numerical operations /add,subtraction,div,...arithmetic operations
#operator==> special symbol that is used to perform an operation on 2 or more operands 
#--> this is a comment 

#types
logical operator(AND,OR,NOT)
bitwise(&,|,~,right shift,left shift)
membership(in,not in)
arithmetic==> mathematical operation--> +,-,*,/,%,**,//
assignment-->=,(arithmetic+=)
identity--> (is , not is)
comparison (>,<,==,<=,>=,!=)

In [ ]:
#rad= 
#print--> area of circle 
rad=int(input('Enter the radius'))
area=(3.14)*(rad**2)
print('The area of circle with radius ',rad,"is",area)

In [ ]:
#Gross salary
#name
#e_id
#basic 
#hra=20% of basic
#dra=30% of basic 
#gross=basic+hra+dra 
#print(gross )

name=input('Enter your name:')
e_id=int(input('Enter your employee id:'))
basic=int(input('Enter your basic salary:'))
print('Thanks for Providing your valuable information!')
hra=0.2*basic
dra=0.3*basic
gross=basic+hra+dra
print('Your information is processed!')
print('The Gross Salary of',name,"with employee id",e_id,"is",gross)

In [ ]:
#banking 
#name(name of acc_holder)
#hey name welcome to the bank
#may i have your acc
#acc_no
#acc_bal=50000
#bal_added =-
#bal after transaction=
#balance after transaction is =

print('Welcome to XYZ Bank')
name=input('May i have your name?:')
print('Hey',name,"Welcome to XYZ Bank")
acc_no=int(input('May i have your acc number?:'))
acc_bal=int(input('Please enter your acc balance'))
bal_added=int(input('Enter the amount needed to be added:'))
final=acc_bal+bal_added
print('Thanks for choosing XYZ Bank !')
print('Your transaction is completed',final,'is the updated balance')

# We will meet at 11.00 am

In [ ]:
#Conditional Statements
#identation is the use of : and 4 spaces/1 tab to split 2 blocks of codes
#loops,functions,conditional statements,class
marks=int(input('Enter the marks:'))
if marks>35:#marks value is greater than 35
    print('Congratulations you have passed!') #this action will be executed

In [ ]:
#4 types of conditional statements
#if--> one condition is executed
#if else--> 2 condition are been taken care of

In [ ]:
x=int(input('Enter a value:'))#34 #123
if x%2==0:#34%2==0 #123%2==0 -> false 
    print(x,'is even')#this is executed
else:
    print(x,'is odd') #this will execute

In [ ]:
#elif --> else if 
x=int(input('Enter a value:')) #x=5 #X=2,0
if x>=0: #5>0 #true/false 2>0 #TRUE #False
    print('X is positive') #will be executed
elif x==0: #if condition is false , check this condition,true 0==0:--> true
    print('X is zero') # will be executed
else:
    print('X is negative') #if both conditions are false then this will be executed

In [ ]:
marks=int(input('Enter your marks:'))
90+ --> A
75+--> B
60-75-> C
60 BELOW--> D 
35 below--> F

In [ ]:
IF-->1
ELSE--> 1
ELIF--> (N-2)

In [ ]:
marks=int(input('Enter your marks:'))
if marks>=90:
    print('Grade A')
elif marks>=75:
    print('Grade B')
elif marks>=60:
    print('Grade C')
elif marks>=35:
    print('Grade D')
else:
    print('Grade F')

In [ ]:
#Simple calculator 
+,-,*,/

In [ ]:
#NESTED IF 
marks=int(input('Enter your marks:')) #65
if marks>=35:#if this is true
    print('Congratulation you have passed') #this is executed
    if marks>=90:
        print('Grade A')
    elif marks>=75:
        print('Grade B')
    elif marks>=60:
        print('Grade C')
    else:
        print('Grade D')
else:
    print('Hard Luck! You failed!')

In [ ]:
#nested if vs elif
#1.Execution
#2.Time taken
#3.Use case

#Nested if                                                        Elif
#1.the condition executes when the above if condition is True    #1.the condition executes when the above if condition is False
#2.Nested if takes more time                                     #2.Elif takes lesser time 
#3.Used when we have to check a condition within if              #3.We have to check the condition outside if

In [ ]:
#Looping Statements
#Control Statements

In [ ]:
#Banking Problem with if else
print('Welcome to XYZ Bank')
name=input('May i have your name?:')
print('Hey',name,"Welcome to XYZ Bank")
acc_no=int(input('May i have your acc number?:'))
acc_bal=int(input('Please enter your acc balance'))
choice=int(input('Enter 1 for Credit and 2 for Debit'))
amount=int(input('Enter the amount needed to be added:'))
if choice==1:
    final_bal=acc_bal+amount
else:
    final_bal=acc_bal-amount

print('Thanks for choosing XYZ Bank !') 
print('Your transaction is completed',final_bal,'is the updated balance')

#voting right
#age 
#age>=18:
#nationality:indian 
#print('You are eligible for voting')
#nationality:not indian 
#location:india 
#how many years you have been staying?
#5+ 
#you are eligible for voting
#you are not eligible for voting

In [ ]:
age=int(input('May i know your age?'))
if age>=18:
    nationality=input('Enter your nationality:')
    if (nationality=="Indian" or nationality=="indian"):
        print('Congratulations!You are eligible for voting')
    else:
        y=input('Enter your location?')
        if (y=="India" or y=="india"):
            years=int(input('How many years you had been staying in india?:'))
            if years>=5:
                print('Congratulations you are eligible for voting')
            else:
                print('You are not eligible for voting')
        else:
            print('You are not eligible for voting')
else:
    print('I am sorry you are not eligible for voting')

In [ ]:
#Looping Statements==> They are statements used to execute repititive actions
l1=[1,2,3,4,5,6,7,8,9,10]

x=int(input('Enter a number'))
if x%2==0:
    print('X is even')
else:
    print('X is odd')

In [ ]:
l1=[1,2,3,4,5,6,7,8,9,10]
for i in l1:
    if i%2==0:
        print(i,"is even")
    else:
        print(i,"is odd")
#imp question
#for loop doesnt requires increment whereas while loop requires increment 
#while loop requires condition whereas for loop needs an iterable
#initialization is required in while loop whereas initialization is not required in for loop 
#no of iterations is not known in while loop whereas no of iterations is known in for loop

In [2]:
i=1
odd=[]
even=[]
while i<11:
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)
    i+=1
    
print('The odd numbers are:')
for i in odd:
    print(i)

print('The even numbers are:')
for j in even:
    print(j)

The odd numbers are:
1
3
5
7
9
The even numbers are:
2
4
6
8
10

In [ ]:
#for loop
#while loop 
#nested loop

# We will be back at 11.05

In [ ]:
#Average number of first n natural numbers
sum=0
n=int(input('Total no of values you want to enter:'))
for i in range(1,2*n,2):#[1,2,3,4,5,6,7,last no-1,n]
    print(i)
    sum+=i
    
average=sum/n
print(sum)
print('Average of first n odd numbers is',average)

In [ ]:
for i in range(5):#[0,1,2,3,4]
    print(i)

In [ ]:
#for loop 
l2=[]
num1=int(input('Enter no of iterations'))
for i in range(num1):#[0,1,2] [0][1] [2] range(3)
    num=int(input())#10,20,30
    l2.append(num)#append will add the value at last place in list
#[10,20,30]
print(l2)
sum1=0
for j in l2:#[10,20,30]
    sum1+=j
    #sum1=10+20+30

print(sum1)
print(num1)
average1=sum1/num1
print('Average of the numbers is',average1)

In [ ]:
#WHILE
n=int(input('Enter no of iterations:')) #3
count=0
sum1=0
while count<n:#COUNT<3 0,1,2 [0][1]
    num=int(input('Enter the value')) #10 20 30
    sum1+=num #10+20+30
    count+=1 #1+1+1
    
average=sum1/n #10+20+30/3
print('Average is ',average)

In [ ]:
#FACTORIAL 
num=int(input('Enter the number for which we want to have factorial:'))
fact=1
for i in range(1,num+1):#[1,2,3,4,5,6]
    fact=fact*i
    
print(fact)

In [ ]:
num=int(input('Enter the number:'))
fact=1
count=1

while count<num+1:#1<7,2<7,3<7
    fact=fact*count#1*1*2*3
    count+=1#2#3#4
    
print(fact)

In [ ]:
#num=int(input()) #100
#10 #error

In [ ]:
#control statements--> controls the flow of the loop
#break,continue,pass
for i in range(1,51):
    if i==25:
        break
    print(i)
    #it ended the loop abruptly

In [ ]:
for i in range(1,51):
    if i%5==0:#[1,2,3,4,6,7,8,9,11,12,13,14,16,17,18,19]
        continue
    print(i)

In [ ]:
for i in range(1,51):
    print(i)#action statement
    if i%5==0:#[1,2,3,4,6,7,8,9,11,12,13,14,16,17,18,19]
        continue
    
#continue --> action statement will come at last 
#break--> it can come at first and at last

In [ ]:
for i in range(1,101):
    if i%10==0:
        continue
    print(i)
    
    
for i in range(1,101):
    print(i)
    if i%10==0:
        break

In [ ]:
for i in range(1,100):
    pass

In [ ]:
#n=int(input())
#num=int(input())
#0--> end loop 
#average 

n=int(input('Enter no of iteration:')) #enter no of iteration:
count=0
sum=0
while count<n:#0<n
    num=int(input('Enter a value'))
    if num==0:
        break
    else:
        sum+=num
        count+=1
        
average=sum/count
print(average)

In [ ]:
#Data Types vs Data Structures
#1.Data type will hold a single value
#Data structure will hold multiple value

#2.Data type will have only one data type 
#Data Structures will have many different data types in one structure

In [ ]:
items=["bread","Sugar","Book"]
items.append('Flour')
items.append('Coffee')
items[2]="Booklet"
items.pop(0)
items.append("Coffee")
items.append(5)
items

items[-1]="5 Star"
items
#flexible

In [ ]:

password=("x","t","t","q",3,5,4,5)
#tuple is immutable(not changable)
#tuple is ordered
password[4]

#list vs tuple 
#list is changable whereas tuple is unchangable
#tuple is faster than list 
#[] and ()

set1={1,2,3,4,4,3,4,2,4,24,2,4,2,3,4}
set1 #set doesnt contains duplicates 
set1={234,1,3,12,1213,45,12,4,4,24,24,24,21,4,5,26,326,32,156,2,1}
set1 #the elements gets arranged in a specific order #accessing numbers is not possible #unordered
# set is defined using curly brackets {}
set1.pop() #remove the last element from the data 
 #set is mutable / changable 
set1.pop() #it will remove any random no out of set
set1.pop()
#set1[5]
#slicing
#indexing

list1=[15,13,5,20,16,14,14,16,14,16,17,18,14,12,1,6,9]
       #0   1 2 3  4  5  6   7  8  9 10 11 12 13 141516
    
list1[6]
#indexing is numbering given to an element in a seq

#slicing is accessing multiple elements in a seq

list1[6:]

dict1={1:15,2:13,3:20,4:15,5:12,6:20,6:18,7:16,8:15,8:18,9:20,10:15,"Eleven":25}
dict1
#keys cant be duplicate 
#value are duplicate 
dict1[4]
dict1
#elements can be accessed using keys 
#dictionary is set of key and value pairs , in which values can be accessed using key, it is ordered wrt keys and it can contain duplicate values 
dict1.keys()#--> # return the key
dict1.values()#--> #return the values
dict1.items()#it is a collection of key and value pairs 
dict1["Eleven"]=19
dict1

In [ ]:
#Data Structure will be of 4 types
#Mutable--> Changable or one that has ability to change 
#Ordered--> Those elements for which we can give numbering
#Duplicates--> 
#Heterogenous--> ability to have multiple different data types

#Mutable--> List,Set,Dictionary
#Ordered--> list,tuple and dictionary can be ordered but only through keys

#1.List-->List is changable,ordered,allows duplicates and it is heterogenous data structures which is created using a square bracket

#2.Tuple-->Tuple is immutable,ordered,heterogenous ,allows duplicates and it is created using ()

#3.Set--> set is mutable,unordered,heterogenous,doesnt allows duplicates and it is created using {}
#4.Dictionary--> #dictionary is set of key and value pairs , in which values can be accessed using key, it is ordered wrt keys and it can contain duplicate values and is mutable

In [ ]:
#11:35
list1.append(4)
list1

In [ ]:
list1.append([10,15,20])
list1

list1.extend([10,15,20])

In [ ]:
list1

In [ ]:
#append will add a list as a single element 
#extend will add list as multiple elements

In [ ]:
##11:35
#while / for loop 
#if else 
#list
#break

#n--> no of the students
#marks -->
#if marks are greater than 35 then add them into pass list 
#else add them into failed list 
#if marks <=0
#break

#count of students who have passed 
#marks of students

In [ ]:
n=int(input('Enter the total no of students'))
count=0
passed=[]
failed=[]
while count<n:#0,1,2,3,4,5,6,7 
    marks=int(input())
    if marks<=0:
        break
    elif marks<35:
        failed.append(marks)
    else:
        passed.append(marks)
    count+=1
    
print('Those students who have passed are have marks as follow and count is',len(passed))        
print(passed)

In [ ]:
#budget problem 
#limit=5000
#expend=[]
#6--> 4800
#5100
#5000
#am1=500,245
#sum=

In [ ]:
limit=int(input('Enter your credit limit:'))
expend=[]
sum=0
while sum<limit:
    amount=int(input('Enter the amount'))
    if amount<=0:
        break 
    else:
        sum+=amount
        expend.append(amount)
        
print('Total amount is',sum)
print('The purchase made is',expend)
print('The amount left is',(limit-sum))

In [ ]:
#password 
#len greater or equal to 8 
#Atleast 1 digit ,1 upper case and 1 lower case 
password=input('Enter a password') #password@134SD
digit=[]
upper=[]
lower=[]
special=[]
space=[]
x=password.split()
print(x)
for letter in password:
    if letter.isdigit():
        digit.append(letter)
    elif letter.isupper():
        upper.append(letter)
    elif letter.islower():
        lower.append(letter)
    elif letter.isspace():
        space.append(letter)
    else:
        special.append(letter)
        
if (len(digit)>=1 and len(upper)>=1 and len(lower)>=1 and len(space)==0 and len(special)>=1 and len(password)>=8):
    print('It is a good password')
else:
    print('It is not a good password')
    if len(digit)==0:
        print('Please enter a digit')
    if len(upper)==0:
        print('Please enter an upper case')
    if len(password)<8:
        print('Please enter a password of length 8 or over 8')

In [ ]:
password="PASSWORD@123"
x=password.split(sep="")
print(x)

In [ ]:
str1="My name is Devang and i am working with TQ"
str1.replace(" ","")#.+ tab  #shift+tab--> docstring 

str2="-13424343"

In [ ]:
str1="      Welcome to TQ  1812  "
len(str1)

In [ ]:
str1.strip()

In [ ]:
x=str1.center(35,"!")

In [ ]:
len(x)

In [ ]:
str1.capitalize()
y=str1.strip()
z=y.capitalize()
print(z)
str1.count("t")
z.count("t")
str1.endswith("  ") #bool result whether str ends with particular seq or not
y.endswith("1812")

In [ ]:
str1.find("D") #FIND WILL RETURN -1 IF SUBSTRING IS NOT PRESENT
str1.index("D") #ERROR IF SUBSTRING IS NOT PRESENT

In [ ]:
let=input()
str1=input()

x=str1.index(let)

if x==-1:
    print('Not present')
else:
    print(x,"is the index")

In [ ]:
str1.isalnum()
str1
str1

In [ ]:
str1.isascii()
str1.isdecimal()
str1.istitle() 
str1.title() 
str1.upper()
str1.join("  ")
str2="TQ "
str1.join(str2)
x="DevangSareen!TSE!DADS"
y=x.split("!")
print(y)


for i in y:
    z.join(i)
    
print(z)

In [ ]:
str1.removeprefix("Devang")
str1.removesuffix("een ")

In [ ]:
str1.ljust(40,"!")

In [ ]:
str1.swapcase()
str1.replace("sareen","Sareen")

In [ ]:
str1=input()
#str1 is no or not ?
"-"
str1=-134243
str1=123435

In [ ]:
str1=input()
if (str1[0]=="-" or str1[0]=="+"):
    x=str1[1:]
    if x.isdigit():
        print('str1 is an integer')
    else:
        print('str1 is not an integer')
elif str1.isdigit():
    print("str1 is an integer")
else:
    print('str1 is not an integer')

In [ ]:

#user name of a person and then you have to check that is it valid username or not for youtube 
#len=8
#there should not be a space
#@ is compulsory 
#there should be a number 
@name3

In [ ]:
name=input()
name.isalnum()

In [ ]:
username=input('Enter a username')
alpha=[]
dig=[]
spa=[]
special=[]
if len(username)>=8:
    if (username[0]=='@'):
        x=username[1:]
        for i in x:
            if i.isalpha():
                alpha.append(i)
            elif i.isdigit():
                dig.append(i)
            elif i.isspace():
                spa.append(i)
            else:
                special.append(i)
    

if len(username)>=8 and username[0]=="@":
    if (len(alpha)>0 and len(dig)>0 and len(spa)==0):
        y=username[-2:]
        if y.isdigit():
            print('Valid username')
        else:
            print('Invalid username')
            if len(alpha)==0:
                print('Enter alphabet')
            if len(dig)==0:
                print('Enter a number')
            if len(spa)>0:
                print('Remove space')
            if y.isalpha() or y.isspace() or y.isalnum():
                print('Enter a number at last')

else:
    if len(username)<8 :
        print('Enter username more than 8')
    if username[0]!="@":
        print('Enter @ symbol')

# 11:25--> (10 mint , 15 mint )

In [ ]:
import re
help(re)

In [ ]:
#pyscript
#tkinter 
#1000 frameworks

In [ ]:
#list --> list is used to store multiple item in single variable it is mutable ordered contains duplicates and heterogenous created using []
#tuple--> Tuple is immutable tuple is faster than list and also it is engrosed within round brackets
#list comprehension
#l1=[1,2,3,4,5,6]
#l2=[1,8,27,64,]

#nested tuples

In [ ]:
l3=[1,2,3,4,5,6,7,8]
l2=[]
for i in l1:
    l2.append(i**3)
    
l3=[i**4 for i in l1]

l3

l1=[4,5,6,7,8,9,10,11,12]
l2=[i+j for i in l1 for j in l3]
l2

In [ ]:
l1=[1,2,3,4,5,6]
l2=[4,5,]
l3=[x*y for x in l1 for y in l2]
l3

#2 dices --> 1,2,3,4,5,6
#1,2,3,4,5,6
probablity of getting sum>6

In [ ]:
l2

In [ ]:
l1=[1,2,3,4,5,6]
l2=[1,2,3,4,5,6]
l3=[x+y for x in l1 for y in l2]#list of all possible outcomes
print(len(l3)) 
l4=[]
for i in l3:
    if i>5:
        l4.append(i)#2+5,3+4,4+3 1+6 6+1 5+2
        
print(l4)

l3

probablity=len(l4)/len(l3) #21/36
print(probablity)

l5=[x+y for x in l1 for y in l2 if x+y>6]
p_A=len(l5)/36

In [ ]:
#tossing up a coin 2
#hh
#ht
#th
#tt
#no of heads
l6=["h","t"]
l3=["h","t"]
l1=["h","t"]
l2=["h","t"]
l4=[x+y+z+w for x in l1 for y in l2 for z in l3 for w in l6] #string concatenation ()
l4
#2 headh
h=0
t=0
print(l4)
for i in l4:
    b=i.count("t")
    print("No of tails is",b)
    a=i.count("h")
    print("No of heads is",a)
    if a==2:
        h+=1
    if b==3:
        t+=1
print(h)
print(t)
print(h/len(l4))

In [ ]:
l1=[1,2,3,4,5,7,8]
l1.append(10)
l1.append([11,12,13,14,15])
l1.extend([11,12,13,14,15])
l1.insert(6,7) #position add the element to that position
l1
#append inserts at the last of the list multiple elements gets added at a single index
#extend inserts one or more elements at last of list multiple elements gets added at a single index
#insert inserts at a specific of list ,can only add one element 
#l1[9]=sum(l1[9])
l1[9]=max(l1[9])
str1="TQ - Python"
#str1[6]="t"
print(str1.capitalize())
print(str1)
#string is immutable
l1

In [ ]:
#DELETE/REMOVE AN ELEMENT
#pop
#remove 
#clear 
#l1.pop() #it pops out the last element if no index is given
#l1.pop(2)#it pops out the element at given index if index is given
l1=[1,2,3,4,5,7,7,8,10,7]
l1.remove(7)
print(l1)
l1#REMOVES a particular element  #element based 
l2=[1,1,1,1,1,1,1,1,1,1]
l2.remove(1)
l2
l2.clear() #clear all the elements of list
l2

In [ ]:
l1.index(7) #returns the 1st index of element
l1.reverse()
l1.sort() #sorts into ascending order
l1.sort(reverse=True) #sorts into descending order
l1

In [ ]:
name="devang"
#name.reverse()
x=name.split()
y=x.reverse()
print(y)

In [ ]:
#list=[1,2,3,4,5,6] #it is mutable,ordered,contains duplicates list takes more space
tuple1=(1,2,3,4,5,6,"vaibhav",5.7,True) #it takes lesser storage space and also it is faster and it is immutable #we want to save a file permanently we can use tuple 
print("count of 5 in tuple1 ",tuple1.count(5)) #no of occurances 1
tuple1.index(5) #location of element in tuple1
print("type of tuple1",type(tuple1))
tuple2=(5,6,7,8,9,10)
#t3=tuple1+tuple2
#print(t3)#concatenation --> adding each elements of the sequence and creating 3rd 
#t4=t3*3 #it multiplys the tuple thrice 
#print(len(t3)) #15
#print(len(t4)) #15*3=45
#print(t4)
print(type(tuple1[0]))
#del(t3)
#max(tuple1)
max(tuple2)
min(tuple2)
sum(tuple2)

In [ ]:
#storing password -->  ()
#password1=()
#tq@1812
#dev@1996
s1={"anjali",1,2,3,4,5,6,7,8,9,"vaibhav",9,4,10}
s1
#s2={1,100,2,3,4,5,1000}
#s2
#010101
str1="vaibhav"
str1.isascii()
ord("v") #ORD IS A KEYWORD THAT CONVERTS AN ALPHABET INTO ITS EQUIVALENT ASCII

In [ ]:
100,1000,2
s3={1,1.4,2.6,5.3,6,5323.5,10.5,0.4,1.005,100.5,156.3,"anjali","sunny","vaibhav",1.000000005}
s3

In [ ]:
s3
s4={1,4,5,6,10,16}
s4

In [ ]:
#vaibhav --> how it is converted and read by the machine 
#v-->118--> binary--> (0100101)
#a-->97---> binary equi

#leap year 
#
ord("A")

In [ ]:
s5={2,3,5,6,7,8,8.5,10,10,20,5332,20005.6,"True","False","Aarush"}
#s1={1,3,4,6,34.5}
#num --> true or false --> 1, 0 
#string--> ascii

In [ ]:
s5

In [ ]:
#ascending -integer , float bool string
z="my name is DEVANG devang and i am pleased to meet you"
c=[]
for i in z:
    c.append(i)
    
print(len(c))
print('Unique characters of string are',len(set(c)))
#NO -->

In [ ]:
set1={1,2,3,5,6,73,34,5,3}
set1

In [ ]:
set1.add(10) #add will add the element
set1.clear() #removes all the elements from the set

In [ ]:
set2=set1.copy() #copy will copy the entire set1 to set2
set2

In [ ]:
set1.discard(73) #IT REMOVES A PARTICULAR ELEMENT FROM THE SET

In [ ]:
set1

In [ ]:
set1.pop() #it will remove the elements ascending as per the ascii

In [ ]:
set1={1,2,3,4,5,6,7,8,2004,3006} u {1,2,3,4,5,6,7,8,2004,3006}

In [ ]:
set1.pop() #it will remove the elements in ascending order
set2={1,2,3,4,5,6,7,8,9,10,11,12.13,14}

In [ ]:
set1.remove(3006) #removes an element from the set

In [ ]:
set1.update(set2) #set1 u set1 =set1
set1
set1.union(set2)
{1 to 10} set2={11 to 20}
set1 . union(set2)
{1,2,3,4,5,6,7,8,,,,11,12,13,14,15,16,,,}

set1.update(set2)

#update vs union 
#it will make changes in set 
#there will not be any changes in the set and it will just print the intermediate output

In [ ]:
set1={1,2,3,4,5,6,7}
set2={6,7,89,10}
#print(set1.union(set2))

#set1.update(set2)
#print(set1)
#set2.fn(set1)
#print(set1)

In [ ]:
set1.difference(set2)
#s1-s2
#s1-s2

In [ ]:
#difference
#intersection
#symmetric_difference
#disjoint
#subset
#superset

set1.intersection_update(set2)
#s1=s1 intersection s2
#update--> it will update the value on the particular set

In [ ]:
#print(set1 U set2)
#print(set1.update(set2))
#set1=set1.union(set2)
set1={1,2,3,4,5,6,7}
set2={6,7,89,10}
set1.difference(set2)
set1.intersection(set2)
set1.symmetric_difference(set2)
set1.isdisjoint(set2) #there should not be any common val
set1.issubset(set2) #all elements of set1 are there in set2 or not 
set1.issuperset(set2) #all elements of set2 are there in set1 or not 
set1.union(set2)

#set1.difference_update(set2) #1,2,3,4,5
#set1.intersection_update(set2) #6,7
#set1.symmetric_difference_update(set2) #1,2,3,4,5,10,89

In [ ]:
#8 ,9 
str1=input()
r_str=str1[-8:-3:-1] #3to 7 
#jagruti 
str1[::-1]

if str1==r_str:
    print(str1,"is a palindrome")
else:
    print(str1,"is not a palindrome")
    
print(str1)
print(r_str)

In [ ]:
*
* *
* * *
* * * * 
* * * * *

In [ ]:
n=int(input())
for i in range(0,n): #[0,1,2,3,4,5,6] [2]
    for j in range(0,i+1):#[0,1
        print("*",end="")
        
    print()

In [ ]:
n=int(input())
for i in range(0,n):
    for j in range(0,i+1):
        print("",end="")
    #PRINTING THE ELEMENT
    for j in range((n-i)-1): #[6,5,4,3,2,1]
        print(chr(97+j),end=" ")
    print()

In [ ]:
n=521 
while n>228:
    if n%2!=0:
        print(n)
    n=n-1

In [ ]:
student=["Devang",'Anjali',"Harshad","Harshal","Jagruti","Snehal","Prajwal"]
for i in student:

In [ ]:
for i in range(100): #[0,1,2,3,4,5,6,7,8,9,10,11,12,13,,,,99]
for i in range(100,5): #[10,11,12,13,14,...99]
for i in range(10,100,3)#[10,13,16,19,22,25,28]

In [ ]:
for i in range(100,5):
    print(i)
    
range(100) #start=0, step_size=1
range(10,100) #step_size=1

In [ ]:
sum1=0
for i in range(11):
    
    sum1+=i
    print("the value of i after iteration is",i)
    print(sum1)

print(sum1)

In [ ]:
for i in range(100):#[0,1,2,3,4,5,6,7,8,9,10,....99] #[6]
    for j in range(1,i+1): #[0,i] #[0,1,2,3,4,5,6]
        print(i/j)
        
#n=60
#0 to 59 
#prime no

In [ ]:
num=int(input("Enter a value")) #50
for i in range(2,num+1):#[2,3,4,5,6,,,,50] #i==6#6
    for j in range(2,((i+1//2))):#2,3,4,5,6,7,8,9,10,11,(i+1/2) #2,3
        if i%j==0:#j=[2,3] #7 #6%2==0
            break 
    else:
        print(i)

In [ ]:
num=int(input())
for i in range(1,num+1):
    if i%2==0:
        continue
    print(i)

In [ ]:
x=range(2,25.85):

In [ ]:
8//3 #quotient 
8%3
8/3

50+1/3

51/3=17
print(abs(8/3,2))

In [ ]:
for i in range(10):#n-1 
    #start-0,1,2,3,4,5,6,7,8,9

In [ ]:
x=int(input())
y=int(input())

print("the numbers without swapping is",x ,"and",y)
print("Swapping process underway")
x,y=y,x
print("the numbers after  swapping is",x ,"and",y)

In [ ]:
#vowels 
str1=input()
c=0
vowels=["a","e","i","o","u","A","E","I","O","U"]
for letter in str1:
    if letter in vowels:
        c=c+1
print('The count of vowels in a given string is',c)

In [ ]:
sentence=input()
word=sentence.split()
print(word)
for i in word:
    c=word.count(i)
    
    print(c,i)

In [ ]:
sentence=input()
x=sentence.swapcase()
print(x)

In [ ]:

I am a python trainer i am from valsad i teach python

In [ ]:
#1!+2!+3!+.. 

#print the sum of factorials uptil n
n=int(input())#int(input())
fact=1 
sum=0
for i in range(1,n+1): #(1,2,3,4,5)
    fact=fact*i #fact=fact*i 2 6 24
    sum+=fact #1,3,9,33
    
print(fact)
print(sum)

In [ ]:
#GCD
m=int(input()) #12
n=int(input()) #8
d=min(m,n) #d=min(m,n) d=8
#d=15
while True:
    if m%d==0 and n%d==0: #12%8 and 8%8 #M=15 N=25
        print(d,"is the gcd")
        break
    else:
        d=d-1 #7 ,6 ,5,4
       

lcm=m*n/d
print(lcm)

In [ ]:
#lcm --> least common multiple 
m=int(input()) #50
n=int(input()) #125
lcm=max(m,n) #125

while True:
    if ((lcm % m==0) and (lcm% n==0)):
        print(lcm)
        break
    else:
        lcm+=1

In [ ]:
x=int(input('Enter the base'))
y=int(input('Enter the index'))

power=x**y
print("x to the power y",power)

In [ ]:
123234567  2/9

In [ ]:
num=input() #123456123456
d=input()
c=0
for i in num:
    if i==d:
        c+=1
    
print(c/len(num))

125
1**3

In [ ]:
#armstrong num
num=int(input()) #153
sum=0
n1=str(num)

temp=num #temp
while temp>0: #153>0:
    digit= temp%10 #digit=3,5,1
    sum+=digit**len(n1) #sum==27+125+1
    temp//=10 #temp//=10  #1 
if num==sum:
    print(num,"is an armstrong number")
else:
    print(num,"is not an armstrong number")

In [ ]:
#a**n+b**n+c**n+d**n=number
#len(num)
#
#set 
#list

In [ ]:
list1=["Red","Green","Black","Pink","Yellow","White"]
#0,4,5
del(list1[5],list1[4],list1[0])
list1

In [ ]:
number=input() #125==>1+2+5=8   125/8==> harshad / niven 
x=str(sum)

for i in number:
    x+=i
    
print(x) 
num=int(number)
sum1=int(x)
print(sum1)
print(sum1)

if (num%sum1==0):
    print('It is a harshad number')
else:
    print('It is not a harshad number')

#12345/15

In [ ]:
num=int(input())
sum=0

while (num>0): #12345 #1234
    rem=num%10 #rem=5,4
    sum=sum+rem#sum=5+4+3+2+1
    num=num//10 #1234 #123 #12 #1 
    
print(sum)
if num%sum==0:
    print('It is harshad number')
else:
    print('It is not a harshad number')

In [ ]:
1//10
51%6

In [ ]:
12345/15

In [ ]:
#2
str1=input()
f=""
for i in range(len(str1)): #range(9)== 0,1,2,3,4,5,6,7,8,9
    if i%2==0:
        f=f+str1[i]
        
print(f)

In [ ]:
num=int(input())
str1=str(num)
str2=list(str1)
temp=num
digit=sum=0
for i in str2:
    digit=temp%10
    sum=sum+digit
    temp=temp//10
    
if num%sum==0:
    print(num,"is a harshad number")
else:
    print(num,"is not a harshad number")

In [ ]:
#dictionary 
test1={1:45,2:67,3:90,4:57,5:23,5:37,5:67,5:60,6:37}
#key cant be repeated  #in case of repeated keys we will consider the last value as the value of key
#values can be repeated
test1.keys() #it is used to index keys
test1.values()#it is used to index values
#key and values both hold in together are items
test1.items()
print(test1)

test1.pop(6) #it take index value and then removes the value with respect to the index 
print(test1)
test1.popitem()
print(test1)

dict1={"key":[1,23,4,5,6,7,8],"value":[35,34,56,43,56,42],"items":[36,57,60,],"[456,3535,5335,654]":"dict","dict_1":{1:34,2:45,3:66}}
dict1.keys()
dict1.values()
dict1.items()
dict1.popitem()
dict1

In [ ]:
test1[6]=78
test1

In [ ]:
dict1["items"]=list(range(50,60)) #keys are considered as the index values 

#list[]
for value in dict1.values():
    print(value)
    
#Print all the keys from a dictionary 
for key in dict1.keys():
    print(key)

In [ ]:
state_capital={"Maharashtra":"Mumbai","UP":"Lucknow","Punjab":"Chandigarh","Haryana":"Chandigarh","Jammu and Kashmir":"Jammu","Jammu and Kashmir":"Srinagar"}

In [ ]:
state_capital
capital=input()
list1=[]
for key,value in state_capital.values():
    if capital==value:
        list1.append(value)
        print(key)
        
    if len(list1)==0:
        print('No value exist')
        break

In [ ]:
state_capital.items()

In [ ]:
state_capital
capital=input()
list1=[]
for key,value in state_capital.items():
    if capital==value:
        list1.append(value)
        print(key)
        
    if len(list1)==0:
        print('No value exist')
        break

In [ ]:
#10 mints --> 12 pm 
x=state_capital.copy() #it create copy of a dictionary
x.clear() #removed all the elements
x

#state_capital.pop("Punjab") 
#removes specific item
x=state_capital.keys()
x
dict1={}
state_capital.fromkeys(x,[1000,1230,12345,12464])

state_capital.get("UP") #PRINTS THE VALUE WRT THE KEY
state_capital.get("Gujarat")

state_capital.setdefault("Gujarat","Gandhinagar")
state_capital

In [ ]:
state_capital.update({"UP":"Allahabad"})
state_capital

In [ ]:
state_capital["TN"]="Chennai"
state_capital

In [ ]:
list1=["Devang","Sumit","Kajol","Sunny","Shubham","Devendra","Viru"]
word=input()
x=len(word)
print(x)
word_1=[]
for word in list1:
    if len(word)>x:
        word_1.append(word)
print(word_1)

In [ ]:
#BY MONDAY
3--> 1.Complete whatever was covered
#2.Submit the assignment uptil 4
#3.7 Questions for revision

In [ ]:
def isPalindrome(s):
    return s == s[::-1]
s = input("enter palindrome word:")            ## malyalam 
ans = isPalindrome(s)                          ## ana                          
if ans: 
        print("Yes")
else:
    print("No")

In [ ]:
def p(s):
    s=input()
    return s==s[::-1]
an=p(s)
if an:
    print("yes")
else:
    print("no")
    
p(s)

In [ ]:
a=set()
print(type(a))